{% extends 'Base/index.html' %}
{% load static %}

{% block content %}

            <h1>Edit Profile</h1>
            <div class="d-flex justify-content-center form_container">

                    <div class="form-group">
                        <form method="POST" >
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn btn-primary">Update Profile</button>
                        </form>
                    </div>
            </div>

{% endblock content %}