{% extends 'Base/index.html' %}
{% load static %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }}</small><br/>
<hr>
<br/>
{{ post.body }}
<br/><br/>


<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-2">
      {% if post.author.profile.profile_pic %}
            <img src="{{ post.author.profile.profile_pic.url }}" width=200 height=200 class="rounded-circle">
        {% else %}
           <img src="{% static 'images/default_profile_pic.png' %}" width=200 height=200 class="rounded-circle">
        {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
            {{ post.author.first_name }}
            {{ post.author.last_name }}
        </h5>
          <p class="small text-muted">
            <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a>
            {% if post.author.profile.website_url %}
              <a href="{{ post.author.profile.website_url }}">| Website</a> |
              {% endif %}

              {% if post.author.profile.facebook_url %}
              <a href="{{ post.author.profile.facebook_url }}">Facebook</a> |
               {% endif %}

              {% if post.author.profile.twitter_url %}
              <a href="{{ post.author.profile.twitter_url }}">Twitter</a> |
              {% endif %}

              {% if post.author.profile.instagram_url %}
              <a href="{{ post.author.profile.instagram_url }}">Instagram</a>
              {% endif %}
          </p>

        <p class="card-text">
            {{ post.author.profile.bio }}
        </p>

      </div>
    </div>
  </div>
</div>
<a href="{% url 'forum' %}" class="btn btn-secondary">Back</a>

{% endblock content %}