{% extends 'Base/index.html' %}
{% load static %}
{% block content %}
<h1>Forum</h1>
<a href="{% url 'add_post' %}" class="btn btn-primary">+Add Review</a>
<ul style="margin: 5px 5px;">
{% for post in object_list %}
    <div style="border-radius: 5px; background:grey; margin-bottom:3px;">
    <li style="list-style-type: decimal;"><a href="{% url 'article-detail' post.pk %}" style="color:yellow;">
        {{ post.title }}</a> <span style="color:#000000;">
        - {{ post.author.first_name }}
        {{ post.author.last_name }} - {{ post.author.email }}</span><br/>
    <span style="color:#000000;">{{ post.body }}</span></li>
        </div>
{% endfor %}
</ul>
{% endblock content %}